# packages in environment at /Users/schofield/anaconda/envs/bayesml:
#
appnope                   0.1.0                    py36_0    defaults
bleach                    1.5.0                    py36_0    defaults
click                     6.7                      py36_0    defaults
cycler                    0.10.0                   py36_0    defaults
cython                    0.26                     py36_0    conda-forge
decorator                 4.0.11                   py36_0    defaults
edward                    1.3.3                     <pip>
entrypoints               0.2.2                    py36_1    defaults
flask                     0.12.2                   py36_0    defaults
freetype                  2.5.5                         2    defaults
hdf5                      1.8.17                        2    defaults
html5lib                  0.999                    py36_0    defaults
icu                       54.1                          0    defaults
ipykernel                 4.6.1                    py36_0    defaults
ipython                   6.1.0                    py36_0    defaults
ipython_genutils          0.2.0                    py36_0    defaults
ipywidgets                6.0.0                    py36_0    defaults
itsdangerous              0.24                     py36_0    defaults
jbig                      2.1                           0    defaults
jedi                      0.10.2                   py36_2    defaults
jinja2                    2.9.6                    py36_0    defaults
joblib                    0.11                     py36_0    defaults
jpeg                      9b                            0    defaults
jsonschema                2.6.0                    py36_0    defaults
jupyter                   1.0.0                    py36_3    defaults
jupyter_client            5.1.0                    py36_0    defaults
jupyter_console           5.1.0                    py36_0    defaults
jupyter_core              4.3.0                    py36_0    defaults
libgpuarray               0.6.8                         0    defaults
libpng                    1.6.27                        0    defaults
libprotobuf               3.2.0                         0    defaults
libtiff                   4.0.6                         3    defaults
mako                      1.0.6                    py36_0    defaults
markupsafe                0.23                     py36_2    defaults
matplotlib                2.0.2               np112py36_0    defaults
mistune                   0.7.4                    py36_0    defaults
mkl                       2017.0.3                      0    defaults
mkl-service               1.1.2                    py36_3    defaults
mpmath                    0.19                     py36_1    defaults
nbconvert                 5.2.1                    py36_0    defaults
nbformat                  4.3.0                    py36_0    defaults
nose                      1.3.7                    py36_1    defaults
notebook                  5.0.0                    py36_0    defaults
numexpr                   2.6.2               np112py36_0    defaults
numpy                     1.12.1                   py36_0    defaults
olefile                   0.44                     py36_0    defaults
openssl                   1.0.2l                        0    defaults
pandas                    0.20.2              np112py36_0    defaults
pandocfilters             1.4.1                    py36_0    defaults
path.py                   10.3.1                   py36_0    defaults
patsy                     0.4.1                    py36_0    defaults
pexpect                   4.2.1                    py36_0    defaults
pickleshare               0.7.4                    py36_0    defaults
pillow                    4.2.1                    py36_0    defaults
pip                       9.0.1                    py36_1    defaults
prompt_toolkit            1.0.14                   py36_0    defaults
protobuf                  3.2.0                    py36_0    defaults
ptyprocess                0.5.1                    py36_0    defaults
pygments                  2.2.0                    py36_0    defaults
pygpu                     0.6.8                    py36_0    defaults
pymc3                     3.0                      py36_0    defaults
pyparsing                 2.1.4                    py36_0    defaults
pyqt                      5.6.0                    py36_2    defaults
pystan                    2.15.0.1                 py36_0    conda-forge
pytables                  3.3.0               np112py36_0    defaults
python                    3.6.1                         2    defaults
python-dateutil           2.6.0                    py36_0    defaults
pytz                      2017.2                   py36_0    defaults
pyzmq                     16.0.2                   py36_0    defaults
qt                        5.6.2                         2    defaults
qtconsole                 4.3.0                    py36_0    defaults
readline                  6.2                           2    defaults
scikit-learn              0.18.2              np112py36_0    defaults
scipy                     0.19.1              np112py36_0    defaults
seaborn                   0.7.1                    py36_0    defaults
setuptools                27.2.0                   py36_0    defaults
simplegeneric             0.8.1                    py36_1    defaults
sip                       4.18                     py36_0    defaults
six                       1.10.0                   py36_0    defaults
sqlite                    3.13.0                        0    defaults
statsmodels               0.8.0               np112py36_0    defaults
sympy                     1.1.1                    py36_0    defaults
tensorflow                1.1.0               np112py36_0    defaults
terminado                 0.6                      py36_0    defaults
testpath                  0.3.1                    py36_0    defaults
theano                    0.9.0                    py36_0    defaults
tk                        8.5.18                        0    defaults
toolz                     0.8.2                    py36_0    conda-forge
tornado                   4.5.1                    py36_0    defaults
tqdm                      4.14.0                   py36_0    defaults
traitlets                 4.3.2                    py36_0    defaults
wcwidth                   0.1.7                    py36_0    defaults
werkzeug                  0.12.2                   py36_0    defaults
wheel                     0.29.0                   py36_0    defaults
widgetsnbextension        2.0.0                    py36_0    defaults
xz                        5.2.2                         1    defaults
zlib                      1.2.8                         3    defaults
